<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>臺灣夜市 YES！</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap-4.0.0.css">
    <link rel="preload" href="img/homebg1.jpg" as="image">
    <link rel="preload" href="img/homebg2.jpg" as="image">
    <link rel="preload" href="img/homebg3.jpg" as="image">
    <link rel="preload" href="img/homebg4.jpg" as="image">
</head>
<body>
	<img id="addcart" src="img/addcart.png" alt="">
	<img id="menubtn" src="img/menubtn.png" alt="">
    <nav id="menu">
        <ul class="pl-0">
            <li><a data-text="HOEM" href="#home">首　　頁</a></li>
            <li><a data-text="ABOUT" href="#about">關於我們</a></li>
            <li><a data-text="EVENT" href="#event">精彩活動</a></li>
            <li><a data-text="SHOP" href="#shop">商品一覽</a></li>
            <li><a data-text="CONTACT" href="#contact">聯絡我們</a></li>
            <li><a data-text="LOG IN" href="#login">會員登入</a></li>
            <li><a data-text="CART" href="#productlist">購物車</a></li>
        </ul>
    </nav>
    <section id="home">
        <div class="container_fluid h-100">
            <div class="row h-100">
                <div class="col-sm-3 grid-center">
                    <div class="page">
                        <h2>/04</h2>
                    </div>
                </div>
                <div class="col-sm-6 grid-center">
                    <div class="titlebx">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="col-sm-3 grid-center">
                    <div class="slogan">
                        <ul class="pl-0">
                            <li>夜市經典美食</li>
                            <li>臺灣人文風情</li>
                            <li>人氣傳統遊戲</li>
                            <li>盡在臺灣夜市YES!</li>
                            <a href="#about">
                                <button type="button" class="btn btn-outline-light">read more</button>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container_fluid h-100">
            <div class="row h-100">
                <div class="col-sm-4 flex-center">
                    <div class="ab-box flex-center">
                        <span>01</span>
                        <h2>夜市興起</h2>
                        <p>根據交通部觀光局「2014 年來臺旅客消費及動向調查」顯示，來臺旅客最常去的景點第一名，就是夜市；美國有線電視新聞網 CNN，列出臺灣十件無人能及的事情，其中一項也是夜市，可見夜市已是臺灣的重要特色之一，來臺旅遊絕不能錯過。</p>
                    </div>
                </div>
                <div class="col-sm-4 flex-center">
                    <div class="ab-box img-box flex-center">
                        <span>02</span>
                        <h2>關於我們</h2>
                        <p>根據交通部觀光局「2014 年來臺旅客消費及動向調查」顯示，來臺旅客最常去的景點第一名，就是夜市；美國有線電視新聞網 CNN，列出臺灣十件無人能及的事情，其中一項也是夜市，可見夜市已是臺灣的重要特色之一，來臺旅遊絕不能錯過。</p>
                    </div>
                </div>
                <div class="col-sm-4 flex-center">
                    <div class="ab-box flex-center">
                        <span>03</span>
                        <h2>我們的理想</h2>
                        <p>吃喝玩樂之外，，夜市周邊延伸聚集服裝、飾品、鞋子及各類特色店鋪，不僅帶動該區的發展，更因人潮聚集而逐漸形成「觀光夜市」，也提供了沒有很多資金，但想擺攤創業的人起頭的地方。透過夜市，遊客可以更認識台灣的地方特產、小吃、文化與人文風采。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="event">
        <div class="container_fluid">
            <div class="row event-row">
                <div class="col-sm-6 grid-right right">
                    <div class="event-box boxbg1" href="#event1"></div>
                </div>
                <div class="col-sm-6 grid-left left">
                    <div class="event-box" href="#event1">
                        <h3>誰是神射手</h3>
                        <p>射飛鏢，夜市經典遊戲之一，對好準投射出，以最後擊中氣球數......<a href="#event">查看更多</a></p>
                    </div>
                </div>
            </div>
            <!-- center -->
            <div class="row event-row">
                <div class="col-sm-4 grid-right">
                    <div class="event-box" href="#event2">
                        <h3>趣味套圈圈</h3>
                        <p>套圈圈，讓人又愛又恨的夜市小遊戲，套中即能將獎品帶回家...... <a href="#event2">查看更多</a></p>
                    </div>
                </div>
                <div class="col-sm-4 grid-center">
                    <div class="join-box flex-center">
                        <div class="event-content" id="event1">
                            <h3>誰是神射手</h3>
                            <p>射飛鏢，夜市經典遊戲之一，對好準投射出，以最後擊中氣球數決定兌換獎勵，你會不會是那個小小神射手呢?快來試試看!</p>
                            <a href="#join"><button type="button" class="btn">報名活動</button></a>
                        </div>
                        <div class="event-content" id="event2">
                            <h3>趣味套圈圈</h3>
                            <p>套圈圈，讓人又愛又恨的夜市小遊戲，套中即能將獎品帶回家，越後面獎品越精緻，加入挑戰，讓大家一賭你的精湛技術!</p>
                            <a href="#join"><button type="button" class="btn">報名活動</button></a>
                        </div>
                        <div class="event-content" id="event3">
                            <h3>神秘彈跳球</h3>
                            <p>彈跳球，考驗你的力度與準度，以彈跳方式將球投入洞裡，投入越多可兌換的選項越多，你能將調皮的彈跳球精準的投入洞內嗎?</p>
                            <a href="#join"><button type="button" class="btn">報名活動</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 grid-left">
                    <div class="event-box boxbg3" href="#event3"></div>
                </div>
            </div>
            <!-- center -->
            <div class="row event-row">
                <div class="col-sm-6 grid-right right">
                    <div class="event-box boxbg2" href="#event2"></div>
                </div>
                <div class="col-sm-6 grid-left left">
                    <div class="event-box" href="#event3">
                        <h3>神秘彈跳球</h3>
                        <p>彈跳球，考驗你的力度與準度，以彈跳方式將球投入洞裡，投入越多......<a href="#event3">查看更多</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="shop">
        <div class="container pt-5">
            <div class="row">
                <div class="col-3 grid-center">
                    <select class="view-switch">
                        <option value="1">糖葫蘆</option>
                        <option value="2">臭豆腐</option>
                        <option value="3">蚵仔煎</option>
                    </select>
                </div>
                <div class="col-3 grid-center">
                    <select class="view-switch">
                        <option value="4">貢丸湯</option>
                        <option value="5">紅豆餅</option>
                        <option value="6">陽春麵</option>
                    </select>
                </div>
                <div class="col-3 grid-center">
                    <select class="view-switch">
                        <option value="7">魷魚羹麵</option>
                        <option value="8">沙威瑪</option>
                        <option value="9">烤玉米</option>
                    </select>
                </div>
                <div class="col-3 grid-center">
                    <select class="view-switch">
                        <option value="10">滷味</option>
                        <option value="11">蚵仔麵線</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="container_fluid h-100">
            <div class="row pd-main" id="app">
				<div class="web-icon">
					<a href="#home"><img src="img/top.png" alt=""></a>
					<a href="#productlist"><img src="img/cart.png" alt=""></a>
				</div>
                <div id="productlist">
                    <table class="table">
                        <thead>
                            <tr class="table-title">
                                <th colspan="4">I-EAT</th>
                                <th class="closeform close-icon">X</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>品項</td>
                                <td>數量</td>
                                <td>單價</td>
                                <td>小計</td>
                                <td></td>
                            </tr>
                            <tr v-for="product in productInCart">
                                <td>{{product.name}}</td>
                                <td>{{product.amount}}</td>
                                <td>{{product.price}}</td>
                                <td>{{product.sum}}</td>
                                <td><button class="button-del" type="button" @click="remove(product)">x</button></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="total-price" colspan="4">total${{total}}</td>
                                <td></td>
                            </tr> 
                        </tfoot>
                    </table>
                    <span class="flex-around">
                        <button type="button" class="btn closeform">關閉</button>
                        <button type="button" class="btn checkout">前往付款</button>
                    </span>                        
                </div>
                <div class="col-md-9 tab" :id="[product.idName]" v-for="product in products">
                    <div class="row h-100">
                        <div class="col-sm-5 grid-center pdimgbx">
                            <img :src="product.thumb" alt="">
                        </div>
                        <div class="col-sm-7 grid-center">
                            <div>
                                <div>
                                    <h2>{{product.name}}</h2>
                                    <p>{{product.content}}</p>
                                </div>
                                <div class="price-bx">
                                    <p>價格: ${{product.price}}<span class="heart">&#10084;</span></p>
                                </div>
                                <div class="actionbx flex-center">
                                    <div>
                                        <button class="round" @click="minusOne(product)">-</button>
                                        <span>{{product.amountShow}}</span>
                                        <button class="round" @click="addOne(product)">+</button>
										<button class="btn add" @click="addToCart(product)">加入購物車</button>
                                    </div>
									<div class="sloganimg flex-around">
										<img src="img/slogan1.png" alt="">
										<img src="img/slogan2.png" alt="">
										<img src="img/slogan3.png" alt="">
										<img src="img/slogan4.png" alt="">
									</div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 flex-center">
					<img id="process" src="img/process.png" alt="">
				</div>
            </div>
            <div class="row ">
                <div class="block-container">
                    <a href="#shop">
                        <div class="block">
                            <img href="#tab1" src="img/product1.jpg" alt="">
                        </div>
                        <div class="block">
                            <img href="#tab2" src="img/product2.jpg" alt="">
                        </div>
                        <div class="block">
                            <img href="#tab3" src="img/product3.jpg" alt="">
                        </div>
                        <div class="block">
                            <img href="#tab4" src="img/product4.jpg" alt="">
                        </div>
                        <div class="block">
                            <img href="#tab5" src="img/product5.jpg" alt="">
                        </div>
                        <div class="block">
                            <img href="#tab1" src="img/product1.jpg" alt="">
                        </div>
                        <div class="block">
                            <img href="#tab6" src="img/product6.jpg" alt="">
                        </div>
                        <div class="block">
                            <img href="#tab7" src="img/product7.jpg" alt="">
                        </div>
                        <div class="block">
                            <img href="#tab8" src="img/product8.jpg" alt="">
                        </div>
                        <div class="block">
                            <img href="#tab9" src="img/product9.jpg" alt="">
                        </div>
                        <div class="block">
                            <img href="#tab10" src="img/product10.jpg" alt="">
                        </div>
                        <div class="block">
                            <img href="#tab11" src="img/product11.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container_fluid h-100">
            <div class="row h-100">
                <div class="col-sm-6 flex-center">
                    <form class="contact-box">
                        <div class="form-group">
                            <h2>聯絡我們</h2>
                        </div>
                        <div class="form-group">
                            <label>姓名</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label>電話</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label>電子信箱</label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label>意見回饋</label>
                            <textarea rows="5" class="form-control"></textarea>
                        </div>
                        <button type="button" class="btn send">送出</button>
                    </form>
                </div>
                <div class="col-sm-6 flex-center">
                    <form class="contact-box">
                        <div class="form-group">
                            <h2>有獎徵答</h2>
                            <h4>全對有機會獲得夜市消費券</h4>
                        </div>
                        <div class="form-group">
                            <label>臺灣夜市熱門原因</label>
                            <select class="form-control">
                                <option>美食好吃</option>
                                <option>遊戲好玩</option>
                                <option>以上皆是</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>台灣夜晚最熱門景點是</label>
                            <select class="form-control">
                                <option>公園</option>
                                <option>夜市</option>
                                <option>台北101</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>本平台提供了什麼服務</label>
                            <select class="form-control">
                                <option>外送I-EAT</option>
                                <option>熱門活動推薦</option>
                                <option>以上皆是</option>
                            </select>
                        </div>
                        <div class="form-group mb-5">
                            <label>你最喜歡什麼活動?</label>
                            <select class="form-control">
                                <option>誰是神槍手</option>
                                <option>趣味套圈圈</option>
                                <option>神秘彈跳球</option>
                            </select>
                        </div>
                        <button type="button" class="btn contact-btn2">送出</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 flex-center">
                    <h3>快速導覽</h3>
                    <div>
                        <p><a class="text-white" href="#home">首　　頁</a></p>
                        <p><a class="text-white" href="#about">關於我們</a></p>
                        <p><a class="text-white" href="#event">精彩活動</a></p>
                        <p><a class="text-white" href="#shop">購物商城</a></p>
                        <p><a class="text-white" href="#contact">聯絡我們</a></p>
                    </div>
                </div>
                <div class="col-sm-4 flex-center">
                    <h3>店家資訊</h3>
                   <div class="infbx">
                       <p><span><img class="inf-icon" src="img/phone.png" alt=""></span>客服電話：a123456</p>
                       <p><span><img class="inf-icon" src="img/mail.png" alt=""></span>客服信箱：a1234@gmail.com</p>
                       <p><span><img class="inf-icon" src="img/id.png" alt=""></span>客服ID：a001</p>
                   </div>
                </div>
                <div class="col-sm-4 flex-center">
                    <h3>訂閱電子報</h3>
                    <p>追蹤我們　獲得更多資訊</p>
                        <span class="flex-center">
                            <input class="form-control" placeholder="Gmail" type="text">
                            <button class="btn read" type="submit">訂閱</button>
                        </span>
					<div class="flex-around mt-3">
						<img class="social" src="img/gmail.png" alt="">
						<img class="social" src="img/fb.png" alt="">
						<img class="social" src="img/line.png" alt="">
					</div>
                </div>
            </div>
        </div>
    </footer>
    <form id="login" class="allform">
        <h3>會員登入</h3>
        <div class="form-group">
            <label for="">帳號</label>
            <input type="text" placeholder="輸入帳號" required>
        </div>
        <div class="form-group">
            <label for="">密碼</label>
            <input type="text" placeholder="輸入密碼" required>
        </div>
        <p>使用其他方式登入</p>
        <div class="form-group flex-around mt-3">
				<img class="social" src="img/gmail.png" alt="">
				<img class="social" src="img/fb.png" alt="">
				<img class="social" src="img/line.png" alt="">
        </div>
        <p>還沒有帳號? <a href="#reg">註冊</a></p>
        <div class="form-group">
            <button type="submit" class="btn checkout">登入</button>
            <button type="button" class="btn closeform">關閉</button>
        </div>
    </form>
    <form id="reg" class="allform">
        <h3>會員註冊</h3>
        <div class="form-group">
            <label for="">姓名</label>
            <input type="text" placeholder="輸入姓名" required>
        </div>
        <div class="form-group">
            <label for="">信箱</label>
            <input type="text" placeholder="輸入電子信箱" required>
        </div>
        <div class="form-group">
            <label for="">帳號</label>
            <input type="text" placeholder="輸入帳號" required>
        </div>
        <div class="form-group">
            <label for="">密碼</label>
            <input type="text" placeholder="輸入密碼" required>
        </div>
        
        <p>已有帳號? <a href="#login">登入</a></p>
        <div class="form-group">
            <button type="submit" class="btn checkout">註冊</button>
            <button type="button" class="btn closeform">關閉</button>
        </div>
    </form>
	<form id="join" class="allform">
        <h3>活動報名</h3>
        <div class="form-group">
            <label for="">姓名</label>
            <input type="text" placeholder="輸入姓名" required>
        </div>
        <div class="form-group">
            <label for="">電話</label>
            <input type="text" placeholder="輸入電話" required>
        </div>
        
        <div class="form-group">
            <label for="">報名遊戲</label>
            <select>
            	<option value="">誰是神射手</option>
            	<option value="">趣味套圈圈</option>
            	<option value="">神秘彈挑球</option>
            </select>
        </div>
		<div class="form-group">
            <label for="">人數</label>
            <input type="number" min="0" max="9">
        </div>
        <div class="form-group">
            <button type="submit" class="btn checkout">報名</button>
            <button type="button" class="btn closeform">關閉</button>
        </div>
    </form>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.0.0.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/all.js"></script>
    <script src="js/cart.js"></script>
</body>
</html>